.trending-section {
    /* border: 1px solid greenyellow; */
    display: flex;
    align-items: center;
    overflow-x: auto;
    height: 320px;
    width: 100vw;
    gap: 8px;
    overscroll-behavior-inline: contain;
    padding-left: 14px;
}

.head{
    padding-left: 10px;
    color: white;
}


.no-scrollbar {
    scrollbar-width: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* @media (max-width: 480px) {
    .trending-section {
        grid-auto-flow: row;
        grid-auto-rows: 23%;
        gap: 0px;
    }
}
@media (max-width: 768px) {
    .trending-section {
        gap: 40px;
    }
} */