.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    background-color: black;
    color: white;
    padding: 5px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 2;
}

.section-A {
    display: flex;
    align-items: center;
    margin: 9px;
}

.menu {
    width: 45px;
    margin-right: 20px;
    cursor: pointer;
}

.logo {
    width: 70px;
    cursor: pointer;
}

.section-B {
    border: 1.3px solid white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.section-B:hover {
    border: 1.3px solid #00ffff;
}

.back-option {
    position: fixed;
    left: 10px;
    top: 16px;
    display: none;
}

.search-section {
    display: flex;
    justify-content: center;
}

.input-field {
    height: 43px;
    width: 35vw;
    border-radius: 40px;
    border: none;
    background: none;
    outline: none;
    line-height: 150%;
    font-size: 120%;
    padding: 0px 16px;
    color: white;
}

.cross {
    width: 30px;
}

.search {
    width: 32px;
    margin-left: 12px;
    margin-right: 12px;
}

.section-C {
    display: flex;
    align-items: center;
    margin-right: 16px;
    cursor: pointer;
}

.mode {
    width: 32px;
    margin-right: 2vw;
}

.profile {
    width: 36px;
    border-radius: 50%;
    padding: 4px;
}

.content {
    margin-top: 65px;
    display: grid;
    grid-template-columns: 1fr 9fr;
    height: 100vh;
}

.side-scroll {
    position: fixed;
    top: 60px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 40px;
    width: 70px;
    background-color: #282828;
    padding-top: 20px;
    transition: 0.5s;
    height: 100vh;
}

.moveleft{
    left: -80px;
}

.side-scroll>img {
    width: 36px;
}

.spotlight{
    background-color: #000000;
    padding-left: 70px;
    margin-bottom: 10px;
}

.dark-border {
    border: 1.3px solid #000000;
    color: black;
 }

 .lightmode{
    background-color: white;
    color: black;
}

 .dark-border>.search-section>.input-field{
    color: black;
}
 .dark-border:hover{
    border: 1px solid purple;
}

.icon{
    width: 45px;
}


@media (max-width: 520px) {

    .section-B,
    .section-B:hover {
        border: 1.3px transparent;
        margin-right: 8px;
    }

    .dark-border{
        border: 1.3px black;
    }

    .search-section {
        display: none;
    }

    .search {
        width: 38px;
        margin-left: 0px;
        margin-right: 8px;
        border-radius: 50%;
    }

    .section-A {
        flex-grow: 2.5;
    }

    .mode {
        margin-right: 10px;
    }

    .profile {
        margin-left: 6px;
    }

    .searcher>.section-A,
    .searcher>.section-C {
        display: none;
    }

    .searcher>.section-B>.back-option {
        display: block;
    }

    .searcher>.section-B>.search-section>.input-field {
        width: 50vw;
    }

    .searcher>.section-B {
        border: 1.3px solid white;
        display: flex;
        justify-content: center;
        justify-self: center;
        margin-left: 20%;
    }

    .searcher>.dark-border,.searcher>.dark-border:hover {
        border: 1.3px solid rgb(0, 0, 0);
    }
    
    .dark-border,.dark-border:hover {
        border: 1.3px black;
    }


    .searcher>.section-B>.search-section {
        display: flex;
        align-items: center;
        justify-self: center;
    }

    .side-scroll {
        display: none;
    }

    .spotlight{
        padding-left: 10px;
    }

    .content {
        grid-template-columns: 1fr;
    }

}