.page-card{
    width: 360px;
    height: 250px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 16px;
}

.poster{
    width: 350px;
    height: 240px;
    border: 1.2px solid rgb(255, 255, 255);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.6);
    object-fit: cover;
    border-radius: 20px;
}

.card-desc{
    width: 350px;
    position: relative;
    top: -60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title{
    color: white;
    overflow-y: hidden;
    margin: 10px;
}

.card-play{
    width: 45px;
    margin-right: 8px;
} 