.sidebar {
    z-index: 2;
    position: fixed;
    /* top:-5px; */
    top: 59px;
    left: -180px;
    width: 180px;
    height: 100%;

    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
    transition: 0.7s;
    gap: 0px;
    padding-top: 20px;
}

.visible {
    left: 0px;
}

.sidebar span {
    padding-left: 20px;
    cursor: pointer;
    height: 50px;
}

.bar{
    display: flex;
    align-items: center;
}

.light span:hover {
    background-image: linear-gradient(rgba(99, 97, 97, 0.4) 0 0);
    background-blend-mode: lighten;
}
.dark span:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4) 0 0);
    /* background-blend-mode: lighten; */
}

.light {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.dark {
    background-color: black;
    color: white;
}