.video-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 560px;
    height: 270px;
    margin-top: 5px;
    margin-right: 20px;
    border-radius: 30px;
    cursor: pointer;
}


.movie-img{
    width: 510px;
    height: 265px;
    border-radius: 30px;
    border: 1.2px solid rgb(255, 255, 255);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.6);
    object-fit: cover;
}

.desc{
    position: relative;
    top: -50px;
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding-bottom: 8px;
}

.title{
    align-self: center;
    color: white;
    padding: 0px 12px 0px;
    font-size: 120%;
    height: 20px;
}

.play{
    width: 50px;
    margin-right: 8px;
    margin-bottom: 8px;
}
/* 
.light{
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.6);
} */

.dark{
    box-shadow: none;
    /* box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5); */
}

@media (max-width: 520px) {
    .movie-img{
        width: 280px;
        height: 160px;
    }
    .play{
        padding-bottom: 5px;
    }
    .title{
        overflow-y: hidden;
    }
}
